$border-width:2px;
$border-color:#666666;
$border-radius:10px;

$font-size-base:1em;

$nav-link-padding-y:.5em;
$nav-link-padding-x:1em;

$custom-control-gutter:.5em;
$custom-control-spacer-x:1em;
$custom-control-indicator-size:1em;

$alert-padding-y:.75em;
$alert-padding-x:1.25em;
$alert-margin-bottom:1em;

$theme-colors: (
    "primary": #0b2f4f
);

$link-color:#4776c6;

$h1-font-size:max(26px, 3vw);